---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"

const projects = await getCollection(
    "projects",
    (project) => project.data.posted === true
)
---

<style>
    h1 {
        text-align: center;
        font-family: vt323;
        font-size: 3rem;
        margin-bottom: 40px;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .project {
            max-width: 100%;

            border: 4px solid rgb(93, 50, 50);
            background-color: rgb(255, 238, 152);

            display: flex;
            flex-direction: column-reverse;

            a {
                color: black;
                &:hover {
                    color: rgb(150, 38, 255);
                }
            }

            .text {
                padding: 32px;
                padding-top: 16px;
                padding-bottom: 48px;

                h2 {
                    font-family: vt323, Arial, sans-serif;
                    font-size: 2rem;
                    margin-bottom: 32px;
                }
            }
            .image {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(255, 255, 255);

                img {
                    object-fit: cover;
                    overflow: hidden;
                }
            }

            @media screen and (min-width: 800px) {
                height: 400px;

                &:nth-child(even) {
                    flex-direction: row-reverse;
                    .image {
                        border-right: 4px solid rgb(93, 50, 50);
                    }
                }
                &:nth-child(odd) {
                    flex-direction: row;
                    h2 {
                        text-align: right;
                    }

                    .text {
                        border-right: 4px solid rgb(93, 50, 50);
                    }
                }

                .text {
                    width: 50%;
                }
                .image {
                    width: 50%;
                    img {
                        min-height: 100%;
                        min-width: 100%;
                    }
                }
            }

            @media screen and (max-width: 800px) {
                .image {
                    border-bottom: 4px solid rgb(93, 50, 50);
                    /* max-height: 350px; */
                    img {
                        width: 100%;
                        min-height: 300px;
                    }
                }
            }
        }
    }
</style>

<Layout>
    <h1>Portfolio</h1>
    <div class="container">
        {
            projects
                .sort((a, b) => (a.data.date < b.data.date ? 1 : -1))
                .map((project) => (
                    <div class="project">
                        <div class="text">
                            <a
                                href={`/projects/${
                                    project.filePath
                                        ?.split("/")
                                        .pop()
                                        ?.split(".")[0]
                                }`}
                            >
                                <h2>{project.data.title}</h2>
                            </a>
                            <p>{project.data.description}</p>
                        </div>

                        <a
                            class="image"
                            href={`/projects/${
                                project.filePath
                                    ?.split("/")
                                    .pop()
                                    ?.split(".")[0]
                            }`}
                        >
                            <img
                                src={`/projects/webp/${project.data.image}.webp`}
                                alt={project.data.title}
                            />
                        </a>
                    </div>
                ))
        }
    </div>
</Layout>
