---

---

<style>
    footer {
        padding-top: 64px;
        padding-bottom: 64px;

        p {
            text-align: center;
            font-family: vt323;
        }
    }
</style>

<footer>
    <p>Built 2025</p>
</footer>
