<style>
    nav {
        margin-bottom: 64px;

        .container {
            padding-top: 40px;
            display: flex;
            max-width: 100%;
            margin-bottom: 10px;

            .title {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                a {
                    text-decoration: none;
                    color: black;
                }
                h1 {
                    font-size: 48px;
                    font-family: silkscreen, "Courier New", Courier, monospace;
                    margin-left: -6px;

                    max-width: 100%;
                    overflow: auto;
                    white-space: wrap;
                }
                h2 {
                    font-size: 36px;
                    font-family: vt323, "Courier New", Courier, monospace;
                    margin-left: -3px;
                }
            }
            .spacer {
                min-width: 20%;
            }
        }
        .links {
            margin-left: -3px;
            a {
                font-family: saira;
                font-size: 1.3rem;
                color: rgb(61, 61, 61);
                margin-right: 16px;

                &:hover {
                    color: rgb(150, 38, 255);
                }
            }
        }
    }
</style>

<header>
    <nav>
        <div class="container">
            <div class="title">
                <a href="/astro-portfolio/"><h1>Faylee Murray Browne</h1></a>
                <h2>Fullstack Developer</h2>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="links">
            <a href="/astro-portfolio/">portfolio</a>
            <a href="/astro-portfolio/artists">cool artists I know of</a>
        </div>
    </nav>
</header>
