---
import "@fontsource/silkscreen" // header title
import "@fontsource/vt323" // small title
import "@fontsource/saira" // normal text
import silkscreenWoff2Url from "@fontsource/silkscreen/files/silkscreen-latin-400-normal.woff2?url" // header title
import vt323Woff2Url from "@fontsource/vt323/files/vt323-latin-400-normal.woff2?url" // small title
import sairaWoff2Url from "@fontsource/saira/files/saira-latin-400-normal.woff2?url" // normal text
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="preload"
            as="font"
            href={vt323Woff2Url}
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            as="font"
            href={silkscreenWoff2Url}
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            as="font"
            href={sairaWoff2Url}
            type="font/woff2"
            crossorigin
        />

        <link rel="icon" type="image/svg+xml" href="/storyset-pink_robot.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Faylee Murray Browne</title>
    </head>

    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            overflow-x: hidden;

            scrollbar-color: blueviolet white;
        }

        body {
            padding-left: 48px;
            padding-right: 48px;
            background-color: rgb(238, 197, 15);

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            p {
                font-family: saira;
                font-size: 1.3rem;
                line-height: 2.5rem;
            }
        }
    </style>
</html>
